        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        form {
            max-width: 800px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .row {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .row>div {
            flex: 1;
        }

        button {
            padding: 10px 15px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            align-self: center;
        }

        button:hover {
            background-color: #0056b3;
        }
    h2{
        text-align: center; 
    }

    .fondo{
        background-color: #f0f0f0;
        width: 70%;
        padding: 10;
        justify-content: center;
    }